body {
    font: 16px "Century Gothic", Futura, sans-serif;
    margin: 40px;
}

ol, ul {
    padding-left: 20px;
}

.menu-header {
    margin-bottom: 10px;
}

.instructions {
    margin-bottom: 5px;
    font-size: 14px;
    margin-left: 20px;
}

.instruction-box {
    bacjground: #aaa;
    border: 1px solid #999;
    width: 400px;
    margin-left: 300px;
    margin-bottom: 20px;
}

.enter-quantity {
    background: #0f8;
    border: 1px solid #999;
    float: left;
    width: 198px;
    height: 38px;
    text-align: center;
}

.shop-header {
    background: #0f8;
    border: 1px solid #999;
    float: left;
    font-size: 18px;
    height: 40px;
    text-align: center;
    width: 400px;
}

.item {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 14px;
    line-height: normal;
    height: 40px;
    text-align: left;
    padding: 5px;
    width: 402px;
}

.cart-header {
    background: #08f;
    border: 1px solid #999;
    float: left;
    font-size: 18px;
    height: 40px;
    text-align: center;
    width: 600px;
}

.cart-item {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 14px;
    line-height: normal;
    height: 40px;
    text-align: left;
    padding: 5px;
    width: 302px;
}

.remove-button {
    background:  #f20;
    float: right;
    height: 40px;
    text-align: center;
    font-size: 24px;
    width: 100px;
}

.shopping-list {
    background: #eee;
    border: 1px solid #999;
    float: left;
    font-size: 14px;
    line-height: normal;
    padding: 0;
    text-align: center;
    width: 402px;

}

.shopping-cart {
    background: #eee;
    border: 1px solid #999;
    float: right;
    font-size: 14px;
    line-height: normal;
    padding: 0;
    text-align: center;
    width: 602px;
}

.menu {
    background: #ddd;
    border: 1px solid #999;
    float: left;
    font-size: 20px;
    line-height: normal;
    padding: 0;
    text-align: center;
    width: 1010px;
}
